@model IEnumerable<XBC.ViewModel.BatchViewModel>

<input type="hidden" id="batchTestId" name="batchTestId" value="@ViewBag.BatchTestId" />
<table class="table">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.technologyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trainerName)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.technologyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.trainerName)
                </td>

                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li class="btn-edit" data-id="@item.id" title="Edit">Edit</li>
                            <li class="btn-participant" data-id="@item.id" title="Participant">Add Participant</li>
                            <li class="btn-setup" data-id="@item.id" data-BT ="@ViewBag.BatchTestId" title="Setup test">Setup Test</li>
                            @*<button type="button" class="btn btn-warning btn-edit" data-id="@item.id" title="Edit">
                                Edit
                            </button>

                            <button type="button" class="btn btn-danger btn-delete" data-id="@item.id" title="Delete">
                                Delete
                            </button>*@
                        </ul>
                    </div>
                </td>

            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">
    $(".btn-edit").click(function () {
        //alert("Value Id : " + $(this).attr("data-Id"));
        $.ajax({
            url: '@Url.Action("Edit","Batch")',
            type: 'get',
            data: { id: $(this).attr("data-id")},
            success: function (result) {
                $(".modal-title").html("Edit");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    });

    $(".btn-participant").click(function () {
        //alert("Value Id : " + $(this).attr("data-Id"));
        $.ajax({
            url: '@Url.Action("CreateParticipant", "Class")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Add Participant");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    });

    $(".btn-setup").click(function () {
        //alert("BT Id : " + $(this).attr("data-BT"));
        //alert(document.getElementById('batchTestId').value);
        console.log("BT Id : " + $(this).attr("data-BT") + ", Batch Id:" + $(this).attr("data-id"));
        
        $.ajax({
            url: '@Url.Action("Test", "Batch")',
            type: 'get',
            data: { id: $(this).attr("data-id"),bt : $(this).attr("data-BT") },
            success: function (result) {
                $(".modal-title").html("Setup Test");
                $(".modal-body").html(result);
                $(".modal").modal("show");
                //GetList();
            }
        });
        
    });


</script>
