
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Ridhoemgl</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu" style=" height: auto; overflow: hidden; width: auto; padding-bottom: 20%;">
            <li class="header"><strong>MAIN NAVIGATION</strong></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>Master Data</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "BT")">
                            <i class="fa fa-book"></i><span>Bootcamp Type</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "BTT")">
                            <i class="fa fa-pencil-square-o"></i><span>Bootcamp Test Type</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-th-list"></i><span>Category</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-modal-window"></i><span>Menu</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-lock"></i><span>Office</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-tasks"></i><span>Question</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Role")">
                            <i class="fa glyphicon glyphicon-refresh"></i><span>Role</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-file"></i><span>Test</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-tasks"></i><span>Test Type</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-alert"></i><span>Testimony</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Trainer")">
                            <i class="fa fa-user"></i><span>Trainer</span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-paperclip"></i>
                    <span>Transaction</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-check"></i><span>Assignment</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-menu-hamburger"></i><span>Batch</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-folder-close"></i><span>Batch Test</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-user"></i><span>Biodata</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-star"></i><span>Class</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-paperclip"></i><span>Document Test</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-book"></i><span>Document Test Detail</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-exclamation-sign"></i><span>Feedback</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-cloud"></i><span>Idle News</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-flash"></i><span>Menu Access</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Monitoring")">
                            <i class="fa glyphicon glyphicon-search"></i><span>Monitoring</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-plus"></i><span>Room</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Technology")">
                            <i class="fa fa-laptop"></i><span>Technology</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa glyphicon glyphicon-user"></i><span>User</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>