
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/AdminLTE/dist/img/user.svg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Ridhoemgl</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu" style=" height: auto; overflow: hidden; width: auto; padding-bottom: 20%;">
            <li class="header"><strong>MAIN NAVIGATION</strong></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>Master Data</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "BT")">
                            <i class="fa fa-book"></i><span>Bootcamp Type</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "BTT")">
                            <i class="fa fa-pencil-square-o"></i><span>Bootcamp Test Type</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="#">
                            <i class="fa fa-book"></i><span>Menu 1.3</span>
                        </a>
                    </li>*@
                </ul>
            </li>
            @*<li>
                <a href="@Url.Action("Index", "Department")">
                    <i class="fa fa-compass"></i><span>Department</span>
                </a>
            </li>*@
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-paperclip"></i>
                    <span>Transaction</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="@Url.Action("Index", "Monitoring")">
                            <i class="fa fa-hourglass-half"></i><span>Monitoring</span>
                        </a>
                    </li>
                    @*<li>
                        <a href="#">
                            <i class="fa fa-book"></i><span>Menu 3.2</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Employee")">
                            <i class="fa fa-book"></i><span>Employee</span>
                        </a>
                    </li>*@
                </ul>
            </li>
        </ul>
    </section>
</aside>