@model XBC.ViewModel.RoomViewModel

<h3>Are you sure you want to delete this?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacity)
        </dd>
    </dl>

@using (Html.BeginForm("Delete", "Room", FormMethod.Post, new { id = "form-delete", name = "form-delete" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.name)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
        </div>
    </div>
}
</div>

<script type="text/javascript">
    $("#form-delete").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data successfully deleted! Room : " + result.entity.name);
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error! " + result.message);
                }
            }
        });
        return false;
    })
</script>
