@model XBC.ViewModel.BiodataViewModel


@using (Html.BeginForm("Create", "Biodata", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.lastEducation, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastEducation, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Education" } })
                @Html.ValidationMessageFor(model => model.lastEducation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.graduationYear, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.graduationYear, new { htmlAttributes = new { @class = "form-control", placeholder = "Graduation Year" } })
                @Html.ValidationMessageFor(model => model.graduationYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.educationalLevel, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.educationalLevel, new { htmlAttributes = new { @class = "form-control", placeholder = "Educational Level" } })
                @Html.ValidationMessageFor(model => model.educationalLevel, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.majors, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.majors, new { htmlAttributes = new { @class = "form-control", placeholder = "Majors" } })
                @Html.ValidationMessageFor(model => model.majors, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.gpa, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.gpa, new { htmlAttributes = new { @class = "form-control", placeholder = "GPA" } })
                @Html.ValidationMessageFor(model => model.gpa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4" style="float : right">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-create").submit(function () {

        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data successfully saved! Name :" + result.entity.name);
                    $(".modal").modal("hide");
                    GetList();
                }
                else {
                    alert("Error! " + result.message);
                }
            }
        });
        return false; //untuk jsonnya tidak muncul di browser
    });
</script>


