
@model XBC.ViewModel.TechnologyViewModel

<h4>Are you sure you want to delete <b>@Model.name</b> ?</h4>
<div>
    @*<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)<b> :</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.notes)<b> :</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>
    </dl>*@
    @using (Html.BeginForm("Delete", "Technology", FormMethod.Post, new { id = "form-delete", name = "form-delete" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.name)

        <div class="form-group text-right">

            <div class="btn-group btn-group-sm"></div>
            <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>

<script type="text/javascript">
    $("#form-delete").submit(function () {

       
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data successfully deleted! Name : " + result.entity.name);
                    $(".modal").modal("hide");
                    GetList();
                }
                else {
                    alert("Error! " + result.message);
                }
            }
        });
        return false;
    });
</script>
