@model XBC.ViewModel.TechnologyViewModel
@using trainers = XBC.ViewModel.TrainerViewModel

@using (Html.BeginForm("Edit", "Technology", FormMethod.Post, new { id = "form-edit", name = "form-edit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>TechnologyViewModel</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-right">
                <button id="btn-add-trainer" type="button" class="btn-warning btn-md">
                    @*<span class="glyphicon glyphicon-plus"></span>*@
                    <b>+TRAINER</b>
                </button>
            </div>
        </div>
        <div class="panel panel-warning">
            <div id="tech-trainer-list1">
                List Trainer disini

            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="btn-group btn-group-sm pull-right">
                        <input type="submit" value="Save Change" class="btn btn-warning btn-sm" />
                        <input type="button" value="Cancel" class="btn btn-default btn-sm" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        </div>
        @*<br>
            <table>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Create By
                        </th>
                    </tr>
                </thead>
                <tbody id="tech-trainer-list">
                    @foreach (var item in Model.TechTrainers)
                    {
                        <tr>
                            <td>@item.name</td>
                            <td>@item.created_by</td>
                        </tr>
                    }
                </tbody>
            </table>*@

        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="btn-group btn-group-sm"></div>
                    <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                    <input type="submit" value="Save Change" class="btn btn-warning" />
                </div>
            </div>*@
    </div>
}


@*@Scripts.Render("~/bundles/jqueryval")*@
<script type="text/javascript">
    $(document).ready(function () {
        GetListTrainer();
    });

    function GetListTrainer() {
        //alert($("#id").val())
        $.ajax({
            url: '@Url.Action("Detail2","Technology")',
            type: 'get',
            data: { id: $("#id").val() },
            success: function (result) {
                $("#tech-trainer-list1").html(result);
            },
            error: function (err) {
                $("#tech-trainer-list1").html(err);
            }
        });
    }
    $("#form-edit").submit(function () {
        var tList = [];
        $(this).find("#tech-trainer-list").find("tr").each(function () {
            var list = { id: $(this).find("input[name=id]").val(), trainers: $(this).find("input[name=name]").val() }
            tList.push(list);
        });
        var data = { id: $(this).find("#id").val(), name: $(this).find("#name").val(), notes: $(this).find("#notes").val(), trainers: tList };
        //alert(JSON.stringify(data));
        //console.log(data);
        $.ajax({
            url: this.action,
            type: this.method,
            data: { model: data },
            success: function (result) {
                if (result.success) {
                    alert("Save Successful! Name : " + result.entity.name);
                    //alert("Save Successful! Name");
                    GetListTrainer();
                    $(".modal").modal("hide");
                    location.reload();
                } else {
                    alert("Error!." + result .message)
                }
            }
        });
        return false;
    });
    $("#btn-add-trainer").click(function () {
        $.ajax({
            url: '@Url.Action("Trainer", "Technology")',
            type: 'get',
            success: function (result) {
                $("#modal2 .modal-title").html("Add Trainer");
                $("#modal2 .modal-body").html(result);
                $("#modal2").modal("show");
            }
        });
    });
</script>


