@model IEnumerable<XBC.ViewModel.TechnologyViewModel>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-bordered">
    <thead class="bg-light-blue">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_by)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.notes)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.created_by)
                </td>


                <td align="center">
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#" class="btn-edit" data-id="@item.id">Edit</a></li>
                            <li><a href="#" class="btn-delete" data-id="@item.id">Delete</a></li>
                        </ul>
                    </div>
                </td>


            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">
    //$(".table").DataTable();
    $(".btn-edit").click(function () {
        console.log('masuk');
        //alert("Value Id : " + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("Edit", "Technology")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $("#modal1 .modal-title").html("Edit");
                $("#modal1 .modal-body").html(result);
                $("#modal1.modal").modal("show");
            }
        });
    });
    $(".btn-delete").click(function () {
        //alert("Value Id : " + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("Delete", "Technology")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $("#modal1 .modal-title").html("Delete");
                $("#modal1 .modal-body").html(result);
                $("#modal1.modal").modal("show");
            }
        });
    });

</script>
