@model IEnumerable<XBC.ViewModel.TestimonyViewModel>

<table class="table table-bordered">
    <thead class="bg-light-blue">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>

                <td align="center">
                    <div>
                        <div class="input-group">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle glyphicon glyphicon-align-justify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="btn-edit-testi" data-id="@item.id">Edit</a></li>
                                <li><a href="#" class="btn-delete-testi" data-id="@item.id">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">

    $(".btn-edit-testi").click(function () {
        //alert("Value Id : " + $(this).attr("data-id"));
        $.ajax({
            url: '@Url.Action("Edit","Testimony")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Edit");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    });

    $(".btn-delete-testi").click(function () {
        //alert("Value Id : " + $(this).attr("data-Id"));
        $.ajax({
            url: '@Url.Action("Delete","Testimony")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Delete");
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    });

</script>
