@model XBC.ViewModel.ClassViewModel

@using (Html.BeginForm("CreateParticipant", "Class", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="batchId" name="batchId" value="@ViewBag.BatchId" /> //bawa batch id ke class
    @*@Html.Hidden("RedirectTo", Url.Action("", "Class"));*@ //redirect ke class

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*@Html.LabelFor(model => model.technologyId, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.biodataId, (IEnumerable<SelectListItem>)
                ViewBag.BiodataList, "Participant", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.biodataId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4" style="float: right">
                <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
$("#form-create").submit(function () {
    //alert("Value Id : " + $(this).attr("data-Id"));
    $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data successfully saved! Name :" + result.entity.name);
                    $(".modal").modal("hide");
                    GetList();

                    ////redirect to class
                    //var url = $("#RedirectTo").val();
                    //location.href = url;
                }
                else {
                    alert("Error! " + result.message);
                }
            }
        });
        return false; //untuk jsonnya tidak muncul di browser
    });
</script>